// No loops here because we may need to overwrite these built-in colors
// and define them as variables elsewhere

.red
    color red
.green
    color green
.blue
    color blue
.orange
    color orange
.grey, .gray
    color grey
.white
    color white
.black
    color white
